<h1>{{title}}</h1>

<div>
    <h3>Really well organized!!!!</h3>

    <div class="nav-buttons">
        <button class="slds-button slds-button_icon" routerLinkActive="active" [routerLink]="['/lista']" title="List">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#justify_text"></use>
                </svg>
        </button>

        <button class="slds-button slds-button_icon" routerLinkActive="active" [routerLink]="['/cards']" title="Cards">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#tile_card_list"></use>
                </svg>
        </button>

        <button type="button" class="btn btn-primary btn-block" [routerLink]="['/forms']" (click)="onAddHero()">Add Hero</button>

    </div>
</div>

<!-- <app-forms *ngIf="activate"></app-forms> -->

<router-outlet (addedHero)=onAddHero()></router-outlet>
